.login{
	background: url('../img/Login-bckg.png');
	background-position: absolute;
	background-size: 1400px 800px;
}
.pembungkus {
	font-size: 12px;
	font-family: "Raleway Thin", sans-serif;
	background: #ffff;
	border-radius: 6px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.50);
	height: 470px;
	margin: 70px auto 2rem auto;
	padding-right: 20px;
	padding-left: 20px;
	width: 310px;
}
.card-content {
	padding: 12px 44px;
}
.card-title {
	margin-top:30px;
	font-size: 15px;
	letter-spacing: -0.015em;
	text-align: center;
}
.label-judul{
	color: #7A7F8C;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.input-uname, .input-pwd{
	background: #EEEEEE;
	color:black;
	font-size: 12px;
	width: 100%;
	padding: 8px 8px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #EEEEEE;
	outline: none;
	padding-left: 10px;
	border-radius: 5px;
}
.input-submit{
	margin: 18px 0;
	font-size: 15px;
	padding: 8px 8px;
	width: 100%;
	background:#ffff;
	box-sizing: border-box;
	border: 1px solid #152349;
	border-radius: 5px;
}
.input-uname:hover, .input-pwd:hover{
	background: #F6F6F6;
}
.input-submit:hover{
	background: #152349;
	color: white;
}
.link{
	text-align: center;
}
.link:hover{
	opacity: 0.50;
}
.lupapwd{
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.015em;
	text-decoration-line: underline;
	color: #4450B7;
}
.pembungkus:hover{
	transform: scale(1.05,1.05); 
}
.unhide-pwd{
	background: #EEEEEE;
	color:#B8BCCA;
	font-size: 12px;
	width: 100%;
	padding: 8px 8px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #EEEEEE;
	outline: none;
	padding-left: 10px;
	border-radius: 5px;		
}
#pass-status{
	position: absolute;
	margin-left: 220px;
	margin-top: 40px;
	z-index: 2;
	cursor: pointer;
}
.logo-login{
	width: 100px;
	height: 100px;
}

.header {
	height: 100vh;
	background-image: url('../img/logo-etikos.png'), url('../img/Landing Page.png');
	background-repeat: no-repeat, repeat;
	flex-direction: column;
	align-items: center;
	background-position: left 5% bottom 10px, center;
	background-size:  100px 100px, 100% 100%;
	justify-content: center;
}
.tombol-landing{
	box-shadow: 3px 1px #b2beb5;
}
.animasi-landing {
	position: absolute;
	animation: mymove 8s;
	left: 5%;
	/*sama*/
	top: 110px;
}
.subjudul-landing{
	font-size: 2em;
}
.judul-landing{
	font-size: 4em;
}
.icon-sekola{
	height:122px;
	width:500px;
}
@keyframes mymove {
	0% {
		top: 0px;
	}

	40% {
		/*sama*/
		top: 110px;
	}

	100% {
		down: 0px;
	}
}

@media only screen and (max-width: 600px) {
	.subjudul-landing{
		font-size: 1em;
	}
	.judul-landing{
		font-size: 2em;
	}
	.icon-sekola{
		height:61px;
		width:250px;
	}
	.animasi-landing {
		left: 7%;
		/*sama*/
		top: 55px;
	}
	@keyframes mymove {
		0% {
			top: 0px;
		}

		40% {
			/*sama*/
			top: 55px;
		}

		100% {
			down: 0px;
		}
	}
	.tombol-landing{
		width: 200px;
	}
	.icon{
		font-size:2em
	}

}